@model UserManagement.Models.User

<h2>View User</h2>
<div class="mb-3">
    <label asp-for="Forename" class="form-label"></label>
    <div class="form-control">@Model.Forename</div>
</div>

<div class="mb-3">
    <label asp-for="Surname" class="form-label"></label>
    <div class="form-control">@Model.Surname</div>
</div>

<div class="mb-3">
    <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
    <div class="form-control">@Model.DateOfBirth</div>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <div class="form-control">@Model.Email</div>
</div>

<div class="mb-3">
    <label asp-for="IsActive" class="form-label"></label>
    <input asp-for="IsActive" class="form-input" style="pointer-events: none;" />
</div>


<h3>User Activity Log</h3>
@if (Model.Logs != null && Model.Logs.Any())
{
    <table id="LogTable" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs.OrderByDescending(l => l.Time))
            {
                <tr>
                    <td>@log.Time.ToLocalTime().ToString("dd-MM-yy")</td>
                    <td>@log.Time.ToLocalTime().ToString("HH:mm:ss")</td>
                    <td>@log.Type</td>
                    <td>@log.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No actions have been logged for this user.</p>
}
